# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.env

# SQLite
*.sqlite
*.sqlite3

# Secrets
backend/secret.yaml

# Runtime database
backend/data/
*.db

# IDE
.vscode/
node_modules/
.DS_Store
